@page "/"
@rendermode InteractiveAuto
@inject NavigationManager Navigation
@inject AuthService Auth
<h1>Cue Companion</h1>
<h3>You are: @CurrentUserType</h3>
<p>Your permissions:</p>
@if (CurrentUser != null)
{
    @foreach (KeyValuePair<UserPermission, bool> perm in CurrentUser.GetPermissions())
    {
        <li>@perm.Key.ToString(): @perm.Value</li>
    }
}

@if (CurrentUser?.UserType == UserType.Master)
{
    <div class="config">
        <h2>Configuration Panel</h2>
        <p>This section is only visible to Master users.</p>
        <div class="config-connections">
            <h3>Connections</h3>
            @{
                foreach (Connection conn in cons)
                {
                    <div class="connection-item">
                        <strong>@conn.ConnectionName</strong>
                        <p>Pass: @conn.ConnectionPasskey</p>
                    </div>
                }
            }
        </div>
    </div>
}

@code
{
    protected User? CurrentUser => Auth.User;
    protected UserType? CurrentUserType => CurrentUser?.UserType;
    private Connection[] cons = [];

    protected override async Task OnInitializedAsync()
    {
        Auth.OnChange += () => InvokeAsync(StateHasChanged);

        await Auth.StartAsync(Navigation.BaseUri);
        await Auth.WaitForUser();
        cons = await GetConnections();
        await InvokeAsync(StateHasChanged);
    }

    protected async Task<Connection[]> GetConnections()
    {
        if (CurrentUserType != UserType.Master)
        {
            Console.WriteLine("Unauthorized access to connections.");
            return [];
        }

        return await Auth.GetConnectionsAsync();
    }
}
