@page "/"
@rendermode InteractiveAuto
@inject NavigationManager Navigation
@inject AuthService Auth
<h1>Cue Companion</h1>
<h3>You are: @Auth.ClientType.ToString()</h3>

@if (Auth.ClientType == ClientType.Master)
{
    <div class="config">
        <h2>Configuration Panel</h2>
        <p>This section is only visible to Master users.</p>
        <div class="config-connections">
            <h3>Connections</h3>
            @{
                foreach (Connection conn in cons)
                {
                    <div class="connection-item">
                        <strong>@conn.ConnectionName</strong>
                        <p>Pass: @conn.ConnectionPasskey</p>
                    </div>
                }
            }
        </div>
    </div>
}

<h3>Connect:</h3>
<Login OnSubmit="OnSubmit"/>
<h3>Connection:</h3>
<p><strong>Status:</strong> @Auth.ConnectionMessage</p>
@if (Auth.Connection != null)
{
    <div class="connection-details">
        <p><strong>Connection Name:</strong> @Auth.Connection.ConnectionName</p>
        <p><strong>Passkey:</strong> @Auth.Connection.ConnectionPasskey</p>
        <p>Secret key: @Auth.Connection.Secret.ToString()</p>
    </div>
}
else
{
    <p>No active connection.</p>
}

@code
{
    private Connection[] cons = [];

    protected override async Task OnInitializedAsync()
    {
        Auth.OnChange += () => InvokeAsync(StateHasChanged);

        await Auth.StartAsync(Navigation.BaseUri);
        await InvokeAsync(StateHasChanged);
    }

    private async Task OnSubmit(string name, string passkey)
    {
        Auth.Connection = await Auth.Connect(name, passkey);
    }
}
