@page "/"
@using CueCompanion
@rendermode InteractiveAuto
@inject NavigationManager Navigation
@inject CounterService Counter
<PageTitle>CueCompanion</PageTitle>
<div class="main-view">
    <div class="main-box cue-explorer">
        <h3>Cue Explorer</h3>
        <div class="cue-explorer-container">
            <table class="cue-explorer-controls">
                <tr>
                    <td colspan="2">Explore</td>
                    <td colspan="2">Prev</td>
                    <td colspan="2">Reset</td>
                    <td colspan="2">Next</td>
                    <td rowspan="2" style="min-width: 1rem">
                        <span style="text-align: right">
                            @Counter.State.CurrentCueNumber
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Change</td>
                    <td colspan="3">
                        <button @onclick="DecrementCueNumber">Prev</button>
                    </td>
                    <td colspan="3">
                        <button @onclick="IncrementCueNumber">Next</button>
                    </td>
                </tr>
            </table>
            <div class="cue-explorer-cues">
                <div class="cue-explorer-key">
                    <CueBox Name="Prev" Color="Yellow"/>
                    <CueBox Name="Current" Color="Green"/>
                    <CueBox Name="Next" Color="Blue"/>
                </div>
                <div class="cue-explorer-list">
                    @foreach (Cue cue in Counter.State.CurrentShow.Cues)
                    {
                        string cueColor = cue.CueNumber == Counter.State.CurrentCueNumber ? "Green"
                            : cue.CueNumber == Counter.State.CurrentCueNumber - 1 ? "Yellow"
                            : cue.CueNumber == Counter.State.CurrentCueNumber + 1 ? "Blue"
                            : "Gray";
                        <CueBox Name="@cue.CueName" Number="@cue.CueNumber" Color="@cueColor"/>
                    }
                </div>
            </div>
        </div>
    </div>   
    <div class="main-box current-cue">
        <h3>Current Cue - @Counter.State.CurrentShow.Cues.FirstOrDefault(c=>c.CueNumber==Counter.State.CurrentCueNumber, new Cue(0,"None","")).CueName (@Counter.State.CurrentCueNumber)</h3>
        <div class="current-cue-view-select">
            <h5>View</h5>
            <RoleViewCheckbox Name="All" Enabled="false"/>
            @foreach(Role role in Counter.State.CurrentShow.Roles)
            {
                <RoleViewCheckbox Name="@role.RoleName" Enabled="false"/>
            }
        </div>
    </div>   
    <div class="main-box cue-notes">
        <h3>Notes</h3>
    </div>   
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        Counter.OnChange += () => InvokeAsync(StateHasChanged);

        // Start the SignalR connection
        await Counter.StartAsync(Navigation.BaseUri);
    }

    private async Task IncrementCueNumber()
    {
        await Counter.UpdateCueNumber(Counter.State.CurrentCueNumber + 1);
    }

    private async Task DecrementCueNumber()
    {
        await Counter.UpdateCueNumber(Counter.State.CurrentCueNumber - 1);
    }
}
