@page "/show"
@using System.Text.Json
@rendermode InteractiveAuto
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject CounterService Counter
@inject AuthService Auth
<PageTitle>CueCompanion</PageTitle>
<div class="main-view">
    <div class="main-box cue-explorer">
        <h3>Cue Explorer</h3>
        <div class="cue-explorer-container">
            <table class="cue-explorer-controls">
                <tr>
                    <td colspan="2">Explore</td>
                    <td colspan="2">Prev</td>
                    <td colspan="2">Reset</td>
                    <td colspan="2">Next</td>
                    <td rowspan="2" style="min-width: 1rem">
                        <span style="text-align: right">
                            @Counter.State.CurrentCueNumber
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Change</td>
                    <td colspan="3">
                        <button @onclick="DecrementCueNumber">Prev</button>
                    </td>
                    <td colspan="3">
                        <button @onclick="IncrementCueNumber">Next</button>
                    </td>
                </tr>
            </table>
            <div class="cue-explorer-cues">
                <div class="cue-explorer-key">
                    <CueBox Name="Prev" Color="Yellow"/>
                    <CueBox Name="Current" Color="Green"/>
                    <CueBox Name="Next" Color="Blue"/>
                </div>
                <div class="cue-explorer-list">
                    @foreach (Cue cue in CurrentShow.Cues)
                    {
                        string cueColor = cue.CueNumber == Counter.State.CurrentCueNumber ? "Green"
                            : cue.CueNumber == Counter.State.CurrentCueNumber - 1 ? "Yellow"
                            : cue.CueNumber == Counter.State.CurrentCueNumber + 1 ? "Blue"
                            : "Gray";
                        <CueBox Name="@cue.CueName" Number="@cue.CueNumber" Color="@cueColor"/>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="main-box current-cue">
        <h3>Current Cue - @CurrentCue.CueName (@Counter.State.CurrentCueNumber)</h3>
        <div class="current-cue-view-select">
            <h5>View</h5>
            @foreach (Role role in CurrentShow.Roles)
            {
                <RoleViewCheckbox Name="@role.RoleName" Enabled="false" OnChange=
                "@(value =>
                {
                    if (!RoleViewStates.TryAdd(role.RoleName, value))
                    {
                        RoleViewStates[role.RoleName] = !RoleViewStates[role.RoleName];
                    }

                    InvokeAsync(StateHasChanged);
                })"/>
            }
        </div>
        <div style="min-height: 20vh" class="thin-border">
            <h3>Tasks</h3>
            <div class="current-cue-tasks">
                @for (int i = 0; i < TasksForCurrentCue.Length; i++)
                {
                    string task = TasksForCurrentCue[i];
                    string roleName = CurrentCue.Tasks.Keys.ElementAt(i);
                    if (RoleViewStates.TryGetValue(roleName, out bool state))
                    {
                        if (state)
                        {
                            <div>
                                <h5>@roleName</h5>
                                @task
                            </div>
                        }
                    }
                }
            </div>
        </div>
        <div class="cue-notes thin-border">
            <h3>Notes</h3>
            <div style="display: flex; flex-direction: row">
                <div>
                    <span><h5 style="display: inline">All notes:</h5> (shared with everyone)</span>
                    @{ CurrentCue.Notes.TryGetValue("All", out string? allNotes); }
                    <textarea rows="15" cols="35" @bind="AllNotes" @bind:event="oninput"></textarea>
                </div>
                <div>
                    <h5>Your notes:</h5>
                    <textarea rows="15" cols="35"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="main-box info">
        <h3>Info</h3>
        <button @onclick="ImportShowFromJson">Import</button>
        <div class="show-info-details thin-border">
            <h5>Show:</h5>
            <p>@CurrentShow.Name</p>
            <p>Date: @CurrentShow.Date.ToShortDateString()</p>
            <p>Time: @CurrentShow.StartTime.ToShortTimeString() - @CurrentShow.EndTime.ToShortTimeString()</p>
            <p>At: @CurrentShow.Location.ToString()</p>
            <br/>
            <h5>Total Cues:</h5>
            <p>@CurrentShow.Cues.Length</p>
            <br/>
            <h5>Roles:</h5>
            <ul>
                @foreach (Role role in CurrentShow.Roles)
                {
                    if (role.PersonName != "")
                    {
                        <li>@role.RoleName - @role.PersonName</li>
                    }
                    else
                    {
                        <li>@role.RoleName</li>
                    }
                }
            </ul>
            <br/>
            <h3>Connection</h3>
            <input @bind="UserConnectionName"/> <input @bind="UserConnectionPasskey"/>
            <button
                @onclick="async () => await Auth.ConnectAsync(Auth.User, UserConnectionName, UserConnectionPasskey)">
                Connect
            </button>
        </div>
    </div>
    <script>

        window.selectImportJsonFile = async () => {
            return new Promise((resolve, reject) => {

                const inputElement = document.createElement('input');
                inputElement.type = 'file';
                inputElement.accept = '.json';

                if (!inputElement) {
                    reject("Input element not found");
                    return;
                }

                inputElement.addEventListener('change', (event) => {
                    const file = event.target.files[0];
                    if (!file) {
                        reject("No file selected");
                        return;
                    }

                    const reader = new FileReader();
                    reader.onload = (e) => {
                        resolve(e.target.result);
                    };
                    reader.onerror = (e) => {
                        reject("Error reading file");
                    };
                    reader.readAsText(file);
                });

                inputElement.click();
            });
        }
    </script>
</div>

@code {

    //<RoleViewCheckbox Name="All" Enabled="false"/>
    protected Cue CurrentCue => CurrentShow.Cues.FirstOrDefault(c => c.CueNumber == Counter.State.CurrentCueNumber, new Cue(0, "None", "", []));
    protected Show CurrentShow => Counter.State.CurrentShow;
    protected string[] TasksForCurrentCue => CurrentCue.Tasks.Values.ToArray();
    protected Dictionary<string, bool> RoleViewStates = [];

    protected string UserConnectionName { get; set; }
    protected string UserConnectionPasskey { get; set; }

    protected string AllNotes
    {
        get
        {
            CurrentCue.Notes.TryGetValue("All", out string? val);
            return val ?? "";
        }
        set
        {
            if (CurrentCue != null)
            {
                CurrentCue.Notes["All"] = value;
                Counter.UpdateNote("All", value);
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        Counter.OnChange += () => InvokeAsync(StateHasChanged);


        // Start the SignalR connection
        await Counter.StartAsync(Navigation.BaseUri);
        await Auth.StartAsync(Navigation.BaseUri);
    }

    private async Task IncrementCueNumber()
    {
        await Counter.UpdateCueNumber(Counter.State.CurrentCueNumber + 1);
    }

    private async Task DecrementCueNumber()
    {
        await Counter.UpdateCueNumber(Counter.State.CurrentCueNumber - 1);
    }

    private async Task ImportShowFromJson()
    {
        string json = await JS.InvokeAsync<string>("selectImportJsonFile");
        Counter.State.CurrentShow = JsonSerializer.Deserialize<Show>(json);
        await Counter.UpdateEntireState();
    }
}
