@using System.ComponentModel.DataAnnotations
@implements IAsyncDisposable

@inject SimpleDialogService   Dialogs
@inject AuthService           Auth
@inject UserManagementService UserManagement
@inject ISnackbar             Snackbar

<Panel>
    <MudText Typo="Typo.h2">Account</MudText>
    @if (Auth.User is not { } user)
    {
        <MudText Typo="Typo.h2">Login</MudText>
        <EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator/>
            <MudTextField Label="Username" Class="mt-3" @bind-Value="_model.UserName"
                          For="@(() => _model.UserName)" InputType="InputType.Text"/>
            <MudTextField Label="Password" Class="mt-3" @bind-Value="_model.Password" For="@(() => _model.Password)"
                          InputType="InputType.Password"/>

            <div>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                           Class="ml-auto mt-2" Disabled="_isLoading">
                    Login
                    @if (_isLoading)
                    {
                        <MudProgressCircular Class="ms-1" Color="Color.Default" Indeterminate="true" Size="Size.Small"/>
                    }
                </MudButton>

            </div>
        </EditForm>
    }
    else
    {
        <MudText Typo="Typo.h3">You are logged in as <strong>@user.UserName</strong></MudText>
        <MudButton OnClick="@OnLogout" Variant="Variant.Outlined" Color="Color.Primary"
                   Class="ml-auto mt-2">
            Log out
        </MudButton>

        <MudButton OnClick="@(() => _isPasswordChangeOpen = true)" Variant="Variant.Outlined" Color="Color.Primary"
                   Class="ml-2 mt-2">
            Change password
        </MudButton>
        <MudPopover Open="@_isPasswordChangeOpen" Fixed="true" Class="px-4 pt-4" Style="min-width: 20vw">
            <MudText Typo="Typo.h6">Change password</MudText>
            <MudTextField Label="Current password" Class="mt-3" InputType="InputType.Password"
                          @bind-Value="_currentPasswordField"/>
            <MudTextField Label="New password" Class="mt-3" InputType="InputType.Password"
                          @bind-Value="_newPasswordField"/>
            <MudTextField Label="Confirm new password" Class="mt-3" InputType="InputType.Password"
                          @bind-Value="_confirmNewPasswordField"/>
            <div>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto mt-2"
                           OnClick="@PasswordChanged">
                    Change password
                </MudButton>
                <MudButton Variant="Variant.Outlined" Color="Color.Primary" Class="ml-auto mt-2"
                           OnClick="@(() => _isPasswordChangeOpen = false)">
                    Close
                </MudButton>
            </div>
        </MudPopover>
    }

</Panel>

@code {

    [CascadingParameter]
    public required UserProvider UserProvider { get; set; }

    readonly LoginForm _model = new();
    bool               _isLoading;
    bool               _isPasswordChangeOpen;

    string? _currentPasswordField, _newPasswordField, _confirmNewPasswordField;

    public class LoginForm
    {
        [Required]
        public string UserName { get; set; } = string.Empty;

        [Required]
        public string Password { get; set; } = string.Empty;
    }

    private Action? _stateChangeHandler;

    protected override void OnInitialized()
    {
        _stateChangeHandler =  () => InvokeAsync(StateHasChanged);
        Auth.OnStateChanged += _stateChangeHandler;
        _isLoading          =  false;
    }

    ValueTask IAsyncDisposable.DisposeAsync()
    {
        try
        {
            if (_stateChangeHandler != null)
                Auth.OnStateChanged -= _stateChangeHandler;
            return ValueTask.CompletedTask;
        }
        catch (Exception exception)
        {
            return ValueTask.FromException(exception);
        }
    }


    private Task OnLogout()
    {
        try
        {
            UserProvider.Logout();
            return Task.CompletedTask;
        }
        catch (Exception exception)
        {
            return Task.FromException(exception);
        }
    }

    private async Task OnValidSubmit(EditContext context)
    {
        if (Auth.User != null) // Already logged in
        {
            await Dialogs.ShowError("Login failed", "Already logged in");
            return;
        }

        _isLoading = true;
        var result = await UserProvider.Connect(_model.UserName, _model.Password);
        if (result.Error is { } error)
        {
            await Dialogs.ShowError("Login failed", error);
            _isLoading = false;
            return;
        }

        _model.UserName = string.Empty;
        _model.Password = string.Empty;
        string key = result.Value.apiKey;

        await UserProvider.SetApiKey(key);

        UserManagement.UpdateState();

        _isLoading = false;
    }

    private async void PasswordChanged()
    {
        if (_newPasswordField != _confirmNewPasswordField)
        {
            await Dialogs.ShowError("Error", "New password and confirmation do not match");
            return;
        }

        if (_currentPasswordField == null || _newPasswordField == null)
        {
            await Dialogs.ShowError("Error", "Current and new password must be filled out");
            return;
        }


        Result r = await UserManagement.ChangePassword(Auth.ApiKey!, _currentPasswordField, _newPasswordField);

        if (r.IsSuccess)
            Snackbar.Add("Password changed successfully", Severity.Success);


        _currentPasswordField    = null;
        _newPasswordField        = null;
        _confirmNewPasswordField = null;
        _isPasswordChangeOpen    = false;
        StateHasChanged();
    }

}
