@inject AuthService Auth
@inject SimpleDialogService Dialogs

<MudCard Class="@GetClass()" @onclick="OnCardClick">
    <div class="d-flex justify-content-between align-items-center m-1">
        <div class="me-2 flex-grow-1">
            <EditableText @bind-Value="@Cue.Name" IsEditMode="IsEditMode" OnValueChanged="CueNameChanged" />
        </div>

        <div class="d-flex align-items-center gap-1 flex-shrink-0">
            <MudText Inline="true">@Cue.Position</MudText>
            @if (IsEditMode)
            {
                <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowUp" Color="MudBlazor.Color.Primary" OnClick="@CueMovedUp" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="MudBlazor.Color.Primary" OnClick="@CueDeleted" />
                <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowDown" Color="MudBlazor.Color.Primary" OnClick="@CueMovedDown" />
            }
        </div>
    </div>
</MudCard>

@code
{
    [Parameter] public required Cue Cue { get; set; }

    [CascadingParameter]
    public required ShowService ShowService { get; set; }

    [Parameter]
    public required CueCardColor Color { get; set; } = CueCardColor.Gray;


    [Parameter]
    public EventCallback OnClick { get; set; }


    [CascadingParameter(Name = "IsEditMode")]
    public bool IsEditMode { get; set; }


    private async Task OnCardClick()
    {
        await OnClick.InvokeAsync();
    }

    private string GetClass()
    {
        return Color switch
        {
            CueCardColor.Gray => "cue-card-gray",
            CueCardColor.Green => "cue-card-green",
            CueCardColor.Red => "cue-card-red",
            CueCardColor.DarkRed => "cue-card-dark-red",
            _ => "cue-card-gray"
        };
    }

    private void CueNameChanged(string newName)
    {
        if (Auth.SessionKey is { } key)
        {
            Task.Run(async () =>
            {
                Result res = await ShowService.SendEditModeAction(key, EditModeMethod.Update, Cue);
                res.IfError(e => Dialogs.ShowError("Error changing cue name", e));
            });
        }
    }
    
    private void CueDeleted()
    {
        if (Auth.SessionKey is { } key)
        {
            Task.Run(async () =>
            {
                Result res = await ShowService.SendEditModeAction(key, EditModeMethod.Delete, Cue);
                res.IfError(e => Dialogs.ShowError("Error deleting cue", e));
            });
        }
    }
    
    private void CueMovedUp()
    {
        if (Auth.SessionKey is { } key)
        {
            Task.Run(async () =>
            {
                Result res = await ShowService.SendEditModeAction(key, EditModeMethod.Move, Cue, new EditParameters
                {
                    Direction = -1
                });
                res.IfError(e => Dialogs.ShowError("Error", "Failed to move cue: " + e));
            });
        }
    }
    
    private void CueMovedDown()
    {
        if (Auth.SessionKey is { } key)
        {
            Task.Run(async () =>
            {
                Result res = await ShowService.SendEditModeAction(key, EditModeMethod.Move, Cue, new EditParameters
                {
                    Direction = 1
                });
                res.IfError(e => Dialogs.ShowError("Error", "Failed to move cue: " + e));
            });
        }
    }
}
