@inject AuthService Auth

<GridChild ColumnStart="1" ColumnEnd="2" RowStart="1" RowEnd="3">
    <MudText Typo="Typo.h1">Cue Explorer</MudText>
    @if (ShowService?.CurrentShow is { } show)
    {
        @if (ShowService.CurrentCuePosition is { } cuePos)
        {
            <MudText Typo="Typo.subtitle1">CURRENT CUE</MudText>
            <MudText Typo="Typo.h2">
                <MudIconButton Icon="@Icons.Material.Filled.ChevronLeft"/>
                @cuePos
                <MudIconButton Icon="@Icons.Material.Filled.ChevronRight"/>
            </MudText>

            <MudCard Elevation="4" style="background-color: #141414">
                <div class="d-flex justify-content-between">
                    <MudText Typo="Typo.subtitle1">CUES</MudText>
                    <MudText Typo="Typo.subtitle1">@ShowService.CurrentCues.Length ITEMS</MudText>
                </div>
                <div Class="d-flex flex-column gap-1">
                    @foreach (Cue cue in ShowService.CurrentCues)
                    {
                        <CueCard CueName="@cue.Name" CueNumber="@cue.Position" Color="GetCueColor(cue)"/>
                    }
                </div>
            </MudCard>
        }
        else
        {
            <MudText Typo="Typo.body1">
                Show not started.
                @if (HasControlPermissions)
                {
                    <MudButton Color="Color.Primary" Variant="Variant.Outlined" OnClick="OnStartShow">Start</MudButton>
                }
            </MudText>
        }
    }
    else
    {
        <MudText>No show loaded</MudText>
    }
    
</GridChild>


@code
{
    [CascadingParameter]
    public ShowService? ShowService { get; set; }

    [CascadingParameter]
    public UserProvider? UserProvider { get; set; }

    public bool HasControlPermissions
    {
        get
        {
            if (!Auth.PermissionsCache.TryGetValue("ControlShow", out int _)) return false;
            return UserProvider?.CurrentUser?.HasPermission(Auth.PermissionsCache["ControlShow"]) ?? false;
        }
    }

    private async Task OnStartShow()
    {
        if (ShowService?.CurrentShow is not null && HasControlPermissions && Auth.SessionKey is { } key)
        {
            await ShowService.StartShowAsync(key);
        }
    }

    private CueCardColor GetCueColor(Cue cue)
    {
        if (ShowService?.CurrentCuePosition == cue.Position)
            return CueCardColor.Green;
        if (ShowService?.CurrentCuePosition is { } pos && cue.Position < pos)
            return CueCardColor.Red;
        return CueCardColor.Gray;
    }
}
