@inject AuthService Auth

<GridChild ColumnStart="1" ColumnEnd="2" RowStart="1" RowEnd="3">
    <MudText Typo="Typo.h1">Cue Explorer</MudText>
    @if (ShowService?.CurrentShow is { } show)
    {
        @if (ShowService.CurrentCuePosition is not null || IsEditMode)
        {
            @if (ShowService.CurrentCuePosition is { } cuePos)
            {
                <MudText Typo="Typo.subtitle1">CURRENT CUE</MudText>
                <MudText Typo="Typo.h2">
                    <MudIconButton Icon="@Icons.Material.Filled.ChevronLeft" OnClick="PreviousCue"/>
                    @cuePos
                    <MudIconButton Icon="@Icons.Material.Filled.ChevronRight" OnClick="NextCue"/>
                </MudText>
            }

            <MudCard Elevation="4" style="background-color: #141414">
                <div class="d-flex justify-content-between">
                    <MudText Typo="Typo.subtitle1">CUES</MudText>
                    @if (IsEditMode)
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="CreateNewCue"
                                       Size="Size.Small">Add new
                        </MudIconButton>
                    }
                    <MudText Typo="Typo.subtitle1">@ShowService.CurrentCues.Length ITEMS</MudText>
                </div>
                <div Class="d-flex flex-column gap-1">
                    @foreach (Cue cue in ShowService.CurrentCues)
                    {
                        <CueCard CueName="@cue.Name" CueNumber="@cue.Position" Color="GetCueColor(cue)"
                                 OnClick="@(() => OnCueCardClick(cue))"/>
                    }
                </div>
            </MudCard>
        }
        else
        {
            <MudText Typo="Typo.body1">
                Show not started.
                @if (HasControlPermissions)
                {
                    <MudButton Color="Color.Primary" Variant="Variant.Outlined" OnClick="OnStartShow">Start</MudButton>
                }
            </MudText>
        }
    }
    else
    {
        <MudText>No show loaded</MudText>
    }
    
</GridChild>


@code
{
    [CascadingParameter]
    public ShowService? ShowService { get; set; }

    [CascadingParameter]
    public UserProvider? UserProvider { get; set; }

    [CascadingParameter(Name = "IsEditMode")]
    public bool IsEditMode { get; set; }
    public bool HasControlPermissions
    {
        get
        {
            if (!Auth.PermissionsCache.TryGetValue("ControlShow", out int _)) return false;
            return UserProvider?.CurrentUser?.HasPermission(Auth.PermissionsCache["ControlShow"]) ?? false;
        }
    }

    private void OnCueCardClick(Cue cue)
    {
        if (!IsEditMode) return;
        ShowService?.EditModeCuePosition = cue.Position;
    }


    private async Task OnStartShow()
    {
        if (ShowService?.CurrentShow is not null && HasControlPermissions && Auth.SessionKey is { } key)
        {
            await ShowService.StartShowAsync(key);
        }
    }

    public async Task PreviousCue()
    {
        if (ShowService?.CurrentShow is not null && HasControlPermissions && Auth.SessionKey is { } key)
        {
            await ShowService.PreviousCueAsync(key);
        }
    }

    public async Task NextCue()
    {
        if (ShowService?.CurrentShow is not null && HasControlPermissions && Auth.SessionKey is { } key)
        {
            await ShowService.NextCueAsync(key);
        }
    }

    private CueCardColor GetCueColor(Cue cue)
    {
        if (IsEditMode)
        {
            if (ShowService?.EditModeCuePosition == cue.Position)
                return CueCardColor.Green;
            return CueCardColor.Gray;
        }
        else
        {
            if (ShowService?.CurrentCuePosition == cue.Position)
                return CueCardColor.Green;
            if (ShowService?.CurrentCuePosition is { } pos && cue.Position < pos)
                return CueCardColor.Red;
            return CueCardColor.Gray;
        }
    }

    private async Task CreateNewCue()
    {
        if (ShowService?.CurrentShow is { Id: { } showID } && HasControlPermissions && Auth.SessionKey is { } key)
        {
            await ShowService.CreateNewCueAsync(key, showID);
        }
    }
}
