<GridChild ColumnStart="2" ColumnEnd="2" RowStart="1" RowEnd="3">
    @if (ShowService is
        {
            CurrentShow: { } show,
            CurrentCuePosition: { } cuePos,
            TasksForCurrentCue: { } tasks,
            CurrentRoles: { } roles
        })
    {
        if (ShowService.CurrentCue is { } cue)
        {
            <MudText Typo="Typo.h1">Current Cue - @cue.Name </MudText>


            <div class="d-flex flex-grow-1 flex-wrap justify-center align-center px-8 pb-8 pt-2">
                @foreach (Role role in roles)
                {
                    <MudCheckBox Color="Color.Primary" Label="@role.Name" T="bool" Dense="true"
                                 @bind-Value="_roleFilters[role.Id]"/>
                }

            </div>
            <div>
                @foreach (CueTask cueTask in tasks)
                {
                    @if (cueTask.RoleId is null)
                    {
                        <MudText Typo="Typo.h3">Unassigned Role</MudText>
                        <p>@cueTask.Tasks</p>
                    }
                    else if (_roleFilters[cueTask.RoleId.Value])
                    {
                        Role? role = roles.FirstOrDefault(r => r.Id == cueTask.RoleId.Value);
                        if (role is not null)
                        {
                            <MudText Typo="Typo.h3">@role.Name </MudText>
                            <p>@cueTask.Tasks</p>
                        }
                    }
                }
            </div>
        }
    }
    else
    {
        <MudText Typo="Typo.h1">Current Cue</MudText>
    }
</GridChild>


@code
{
    [CascadingParameter]
    public ShowService? ShowService { get; set; }

    //              RoleID, IsChecked
    private Dictionary<int, bool> _roleFilters = new();
    protected override async Task OnInitializedAsync()
    {
        ShowService?.OnStateChanged += () => InvokeAsync(StateHasChanged);
    }

    protected override void OnParametersSet()
    {
        if (ShowService?.CurrentRoles is { } roles && !_roleFilters.Any())
        {
            _roleFilters = roles.ToDictionary(r => r.Id, _ => false);
        }
    }
}