@if (IsEditMode)
{
    <div style="@style">
        <MudText Typo="Typo.subtitle1" style="margin: 0;">@Label</MudText>
        <MudTextField @bind-Value="@Value" style="flex: 1;" Class="no-padding-input" @onblur="OnBlur"
                      AdornmentIcon="@Icons.Material.Filled.Edit" Adornment="Adornment.End"
                      Lines="@(DefaultLines)"
                      MaxLines="@(MaxLines)"
                      Sizing="InputSizing.Auto"
                      Variant="@(Outlined ? Variant.Outlined : Variant.Text)"
                      Validation="@((string input) => Validation(input))"
        ></MudTextField>
    </div>
}
else
{
    <MudText Typo="Typo.subtitle1">@Label@Value</MudText>
}

@code
{
    private string style => "display: flex; align-items: center; gap: 4px; margin-left: -4px;" + (TopMargin ? "margin-top: 8px;" : "");

    [Parameter]
    public string Value { get; set; } = string.Empty;

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    [Parameter]
    public EventCallback<string> OnValueChanged { get; set; }

    [Parameter]
    public bool IsEditMode { get; set; }

    [Parameter]
    public int MaxLines { get; set; } = 1;

    [Parameter]
    public int DefaultLines { get; set; } = 1;

    [Parameter]
    public bool Outlined { get; set; }

    [Parameter]
    public bool TopMargin { get; set; }

    [Parameter]
    public bool CanBeEmpty { get; set; }

    string? Validation(string input)
    {
        if (CanBeEmpty) return null;


        if (input.Length == 0) return "Value cannot be empty";
        return null;
    }

    private async Task OnBlur(FocusEventArgs e)
    {
        if (Validation(Value) != null) return;

        await ValueChanged.InvokeAsync(Value);
        await OnValueChanged.InvokeAsync(Value);
    }
}