@using System.Text
@using CueCompanion.Notes
@implements IDisposable
@inject SimpleDialogService Dialogs
<MudCard>
    <div style="display: flex; flex-direction: row; gap: 16px; align-items: center; padding: 8px;">
        <MudIcon Icon="@Icons.Material.Filled.StickyNote2" Color="Color.Primary"/>
        <div>
            <MudTextField Typo="Typo.body1" @bind-Value="NoteText" Adornment="Adornment.End"
                          AdornmentIcon="@Icons.Material.Filled.Edit"></MudTextField>
            <MudText Typo="Typo.body2">@NoteSmallText</MudText>
        </div>
        <MudSpacer/>
        <MudTooltip Text="Delete">
            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Primary" OnClick="@NoteDeleted"/>
        </MudTooltip>
    </div>
</MudCard>

@code
{
    [Parameter]
    public required NotesService NotesService { get; set; }

    [Parameter]
    public required Note ThisNote { get; set; }

    private string NoteSmallText
    {
        get
        {
            StringBuilder sb = new();
            if (ThisNote.RoleId is not null)
            {
                sb.Append($"Role: {ThisNote.RoleId}");
            }

            switch (ThisNote.Assignment)
            {
                case NoteAssignment.AllShows:
                    sb.Append("All Shows");
                    break;
                case NoteAssignment.AllCues:
                    sb.Append("All Cues");
                    break;
                case NoteAssignment.SingleCue:
                case NoteAssignment.CueList:
                    foreach (int i in ThisNote.CueList)
                    {
                        sb.Append($"Cue: {i} ");
                    }

                    break;
            }

            return sb.ToString();
        }
    }

    protected override void OnParametersSet()
    {
        NotesService.OnStateChanged += OnStateChanged;
    }

    private void OnStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    private string NoteText
    {
        get => ThisNote.NoteText;
        set => _ = NoteTextChanged(value);
    }

    private async Task NoteTextChanged(string newText)
    {
        ThisNote.NoteText = newText;
        Result r = await NotesService.UpdateNote(ThisNote);
        if (!r.IfError(e => Dialogs.ShowError("Failed to rename note", e)))
        {
            _ = InvokeAsync(StateHasChanged);
        }
    }

    private async Task NoteDeleted()
    {
        Result r = await NotesService.DeleteNote(ThisNote.Id);
        if (!r.IfError(e => Dialogs.ShowError("Failed to delete note", e)))
            _ = InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        NotesService.OnStateChanged -= OnStateChanged;
    }
}
