@inject AuthService Auth
@inject UserManagementService UserManagement
@using System.ComponentModel.DataAnnotations
@using CueCompanion.Services
@using CueCompanion.UserManagement
@implements IAsyncDisposable
@inject IDialogService DialogService

<Panel>
    <MudText Typo="Typo.h2">User Manager</MudText>
    @if (UserProvider is not { } || UserProvider.CurrentUser is null)
    {
        <MudText>You are not logged in.</MudText>
    }
    else if (!HasPermissions)
    {
        <MudText>Access denied.</MudText>
    }
    else
    {
        <MudCard Elevation="10" Outlined="true" Style="max-height: 40vh; overflow-y: auto;">
            <MudTable Items="_users" Dense="true">
                <HeaderContent>
                    <MudTh>User ID</MudTh>
                    <MudTh>Username</MudTh>
                    <MudTh>Permissions</MudTh>
                    <MudTh></MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>@context.UserID</MudTd>
                    <MudTd>@context.UserName</MudTd>
                    <MudTd>
                        @foreach (var perm in GetPermissionsString(context).Split(", "))
                        {
                            @if (perm == "") continue;
                            <MudCard Class="d-inline">
                                @perm
                                <MudIconButton Class="d-inline p-0" Icon="@Icons.Material.Filled.Close" Size="Size.Small" OnClick="@(() => { RemovePermissionFromUser(context.UserID, perm);})"/>
                            </MudCard>
                        }
                        @if(PermissionsNotAdded(context.Permissions).Length != 0)
                        {
                            <MudMenu Dense="true" Style="padding: 0;">
                                <ActivatorContent Context="activator_context">
                                    <MudIconButton Size="Size.Small" OnClick="@activator_context.ToggleAsync" Icon="@Icons.Material.Filled.Add"/>
                                </ActivatorContent>
                                <ChildContent>
                                    @foreach (string perm in PermissionsNotAdded(context.Permissions))
                                    {
                                        <MudMenuItem Label="@perm" @onclick="@(() => {AddPermissionToUser(context.UserID, perm);})"/>
                                    }
                                </ChildContent>
                            </MudMenu>
                        }
                    </MudTd>
                    <MudTd>
                        @if (context.UserName != "admin")
                        {
                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => { DeleteUser(context.UserID); })"/>
                        }
                    </MudTd>
                </RowTemplate>
            </MudTable>
        </MudCard>
        <br/>
        <MudCard Elevation="10" Outlined="true">
            <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
                <MudTextField Label="Username" Class="mt-3" @bind-Value="model.UserName"
                              For="@(() => model.UserName)" InputType="InputType.Text"/>
                <MudTextField Label="Password" Class="mt-3" @bind-Value="model.Password" For="@(() => model.Password)"
                              InputType="InputType.Password"/>

                <DataAnnotationsValidator/>
                <div>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                               Class="ml-auto mt-2">
                        Create User
                    </MudButton>
                </div>
            </EditForm>
        </MudCard>
    }
</Panel>

@code
{
    [CascadingParameter] public UserProvider? UserProvider { get; set; }

    protected override Task OnInitializedAsync()
    {
        UserManagement.OnStateChanged += async () =>
        {
            if (HasPermissions && Auth.SessionKey is {} key)
            {
                _users = await UserManagement.GetUsers(key);
            }
            await InvokeAsync(StateHasChanged);
        };
        return Task.CompletedTask;
    }

    private string GetPermissionsString(UserInfo user)
    {
        return user.Permissions.Length>0 ? user.Permissions.Select(p => p.Name).Aggregate((a, b) => a + ", " + b) : "";
    }
    
    private Action? _stateChangeHandler;
    public bool HasPermissions => UserProvider?.CurrentUser?.HasPermission(Auth.PermissionsCache["ManageUsers"]) ?? false;
    private UserInfo[] _users = [];
    
    readonly CreateUserModel model = new();
    
    private class CreateUserModel
    {
        [Required] public string UserName { get; set; } = string.Empty;

        [Required] public string Password { get; set; } = string.Empty;
    }

    private async Task OnValidSubmit(EditContext context)
    {
        string username = model.UserName;
        string password = model.Password;
        
        if (Auth.SessionKey is {} key)
        {
            CreateNewUserResult result = await UserManagement.CreateNewUser(key, username, password);
            if (result.ErrorMessage is {} errorMessage)
            {
                DialogOptions options = new() { CloseOnEscapeKey = true };
                DialogParameters<ErrorDialog> parameters = new()
                {
                    { x => x.Title, "Create new user failed" },
                    { x => x.Text, errorMessage }
                };
                await DialogService.ShowAsync<ErrorDialog>("Login failed", parameters, options);
                return;
            }
            model.UserName = "";
            model.Password = "";
            _users = await UserManagement.GetUsers(key);
            await InvokeAsync(StateHasChanged);
            
        }
    }

    private async Task DeleteUser(int userID)
    {
        if (Auth.SessionKey is { } key)
        {
            UserManagement.DeleteUser(key, userID);
            
            UserManagement.UpdateState();
        }
    }

    private async Task AddPermissionToUser(int userID, string permission)
    {
        if (Auth.SessionKey is { } key)
        {
            int permissionID = Auth.PermissionsCache[permission];
            await UserManagement.AddPermissionToUser(Auth.SessionKey, userID, permissionID);
            _users = await UserManagement.GetUsers(key);
            await InvokeAsync(StateHasChanged);
        }
    }
    
    private async Task RemovePermissionFromUser(int userID, string permission)
    {
        if (Auth.SessionKey is { } key)
        {
            int permissionID = Auth.PermissionsCache[permission];
            await UserManagement.RemovePermissionFromUser(Auth.SessionKey, userID, permissionID);
            _users = await UserManagement.GetUsers(key);
            await InvokeAsync(StateHasChanged);
        }
    }

    private string[] PermissionsNotAdded(Permission[] permissionsAdded)
    {
        var perms = Auth.PermissionsCache.Keys.ToList();
        var existingPerms = permissionsAdded.Select(p => p.Name).ToArray();
        return perms.Except(existingPerms).ToArray();
    }

    protected override void OnInitialized()
    {
        _stateChangeHandler = () =>
        {
            if (HasPermissions && Auth.SessionKey is {} key)
            {
                UserManagement.UpdateState();
            }
            else InvokeAsync(StateHasChanged);
        };
        Auth.OnStateChanged += _stateChangeHandler;

        _ = UserManagement.StartAsync(Navigation.BaseUri, UserProvider);

    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (_stateChangeHandler != null)
            Auth.OnStateChanged -= _stateChangeHandler;
    }
}
