@inject AuthService AuthService

<MudNavMenu Class="compact-nav">
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Analytics" Class="compact-nav-link">
        <span class="nav-label">Dashboard</span>
    </MudNavLink>
    @if (_hasViewShowPermissions)
    {
        <MudNavLink Href="/show" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Apps"
                    Class="compact-nav-link">
            <span class="nav-label">Show</span>
        </MudNavLink>
    }
    @if (_hasViewChatPermissions)
    {
        <MudNavLink Href="/chat" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Chat"
                    Class="compact-nav-link">
            <span class="nav-label">Chat</span>
        </MudNavLink>
    }
    @if (_hasAdminPermissions)
    {
        <MudNavLink Href="/config" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Settings"
                    Class="compact-nav-link">
            <span class="nav-label">Config</span>
        </MudNavLink>
    }
    <MudNavLink Href="/about" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Info" Class="compact-nav-link">
        <span class="nav-label">About</span>
    </MudNavLink>
</MudNavMenu>

@code {

    [CascadingParameter]
    public required UserProvider UserProvider { get; set; }
    [Parameter]
    public bool IsBottom { get; set; }

    private bool _hasViewShowPermissions, _hasViewChatPermissions, _hasAdminPermissions;

    protected override async Task OnInitializedAsync()
    {
        AuthService.OnStateChanged += () =>
                                      {
                                          if (AuthService.User != null)
                                          {
                                              _hasViewShowPermissions = AuthService.HasPermission("ViewShow");
                                              _hasViewChatPermissions = AuthService.HasPermission("ViewChat");
                                              _hasAdminPermissions    = AuthService.HasPermission("Admin");
                                          }
                                          else
                                          {
                                              // Set to true to prevent unnecessary icon movement, pages independently deny access anyway
                                              _hasViewShowPermissions = true;
                                              _hasViewChatPermissions = true;
                                              _hasAdminPermissions    = true;
                                          }

                                          InvokeAsync(StateHasChanged);
                                      };
    }

}
