@inject AuthService Auth
@inject SimpleDialogService Dialogs

<MudCard Class="@GetCardClass()" @onclick="OnCardClick">
    <div class="d-flex justify-content-between align-items-center m-1">
        <div class="me-2 flex-grow-1">
            <EditableText @bind-Value="@Cue.Name" IsEditMode="IsEditMode" OnValueChanged="CueNameChanged" />
        </div>

        <div class="d-flex align-items-center gap-1 flex-shrink-0 justify-content-between">
            @if (!IsEditMode)
            {
                @if (Cue.DurationMins.HasValue)
                {
                    <MudText Inline="true">@(Cue.DurationMins + "m")</MudText>
                }
            }
            else
            {
                <MudNumericField T="int?" Value="@Cue.DurationMins" ValueChanged="i => OnCueDurationChanged(Cue, i)"
                                 Style="max-width: 120px;" Label="Duration" HelperText="Minutes"
                                 Clearable="true"></MudNumericField>
            }
            <MudCard Class="@GetBadgeClass(Cue.CardColor)"
                     Style="height: 30px; width: 30px; border-radius: 15px; display: flex; align-items: center; justify-content: center;">
                <MudText Inline="true">@Cue.Position</MudText>
            </MudCard>
            @if (IsEditMode)
            {
                <MudTooltip Text="Move cue up">
                    <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowUp" Color="Color.Primary"
                                   Size="Size.Small" OnClick="@CueMovedUp"/>
                </MudTooltip>
                <MudTooltip Text="Delete cue">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Primary"
                                   Size="Size.Small" OnClick="@CueDeleted"/>
                </MudTooltip>
                <MudTooltip Text="Move cue down">
                    <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowDown" Color="Color.Primary"
                                   Size="Size.Small" OnClick="@CueMovedDown"/>
                </MudTooltip>
            }
        </div>
    </div>
</MudCard>

@code
{
    [Parameter] public required Cue Cue { get; set; }

    [CascadingParameter]
    public required ShowService ShowService { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }


    [CascadingParameter(Name = "IsEditMode")]
    public bool IsEditMode { get; set; }

    [Parameter]
    public required bool IsSelected { get; set; }

    [Parameter]
    public required bool IsSelectedLive { get; set; }

    private async Task OnCardClick()
    {
        await OnClick.InvokeAsync();
    }

    public static string GetBadgeClass(CueCardColor color)
    {
        return color switch
               {
                   CueCardColor.Gray      => "cue-card-gray",
                   CueCardColor.Red       => "cue-card-red",
                   CueCardColor.DarkRed   => "cue-card-dark-red",
                   CueCardColor.Green     => "cue-card-green",
                   CueCardColor.DarkGreen => "cue-card-dark-green",
                   CueCardColor.Blue      => "cue-card-blue",
                   CueCardColor.DarkBlue  => "cue-card-dark-blue",
                   _                      => "cue-card-gray",
               };
    }

    public string GetCardClass()
    {
        if (IsSelectedLive) return "cue-card-green";
        if (IsSelected) return "cue-card-light-gray";
        return "cue-card-gray";
    }

    private void CueNameChanged(string newName)
    {
        if (Auth.ApiKey is { } key)
        {
            Task.Run(async () =>
            {
                var res = await ShowService.SendEditModeAction(key, EditModeMethod.Update, Cue);
                res.IfError(e => Dialogs.ShowError("Error changing cue name", e));
            });
        }
    }
    
    private void CueDeleted()
    {
        if (Auth.ApiKey is { } key)
        {
            Task.Run(async () =>
            {
                var res = await ShowService.SendEditModeAction(key, EditModeMethod.Delete, Cue);
                res.IfError(e => Dialogs.ShowError("Error deleting cue", e));
            });
        }
    }
    
    private void CueMovedUp()
    {
        if (Auth.ApiKey is { } key)
        {
            Task.Run(async () =>
            {
                var res = await ShowService.SendEditModeAction(key, EditModeMethod.Move, Cue, new EditParameters
                {
                    Direction = -1,
                });
                res.IfError(e => Dialogs.ShowError("Error", "Failed to move cue: " + e));
                if (res.IsSuccess) ShowService.CurrentCuePosition += -1;
            });
        }
    }
    
    private void CueMovedDown()
    {
        if (Auth.ApiKey is { } key)
        {
            Task.Run(async () =>
            {
                var res = await ShowService.SendEditModeAction(key, EditModeMethod.Move, Cue, new EditParameters
                {
                    Direction = 1,
                });
                res.IfError(e => Dialogs.ShowError("Error", "Failed to move cue: " + e));
                if (res.IsSuccess) ShowService.CurrentCuePosition += 1;
            });
        }
    }

    private void OnCueDurationChanged(Cue cue, int? duration)
    {
        if (Auth.ApiKey is { } key)
        {
            Task.Run(async () =>
                     {
                         cue.DurationMins = duration;
                         var res = await ShowService.SendEditModeAction(key, EditModeMethod.Update, Cue);
                         res.IfError(e => Dialogs.ShowError("Error", "Failed to change cue duration: " + e));
                     });
        }
    }
}
