@inject AuthService Auth
@inject SimpleDialogService Dialogs

<MudCard Class="@GetCardClass()" @onclick="OnCardClick">
    <div class="d-flex justify-content-between align-items-center">
        <div class="me-2 flex-grow-1">
            <EditableText @bind-Value="@Cue.Name" IsEditMode="ShowService.IsEditMode" OnValueChanged="CueNameChanged"
                          Class="cue-name"/>
        </div>

        <div class="d-flex align-items-center gap-1 flex-shrink-0 justify-content-between">
            @if (!ShowService.IsEditMode)
            {
                @if (Cue.DurationMins.HasValue)
                {
                    <MudText Inline="true">@(Cue.DurationMins + "m")</MudText>
                }
            }
            else
            {
                <MudNumericField T="int?" Value="@Cue.DurationMins" ValueChanged="i => OnCueDurationChanged(Cue, i)"
                                 Style="max-width: 120px;" Label="Duration" HelperText="Minutes"
                                 Clearable="true"></MudNumericField>
            }
            <MudCard Class="@GetBadgeClass(Cue.BadgeColor)"
                     Style="height: 30px; width: 30px; border-radius: 15px; display: flex; align-items: center; justify-content: center;">
                <MudText Inline="true">@Cue.Position</MudText>
            </MudCard>
            @if (ShowService.IsEditMode)
            {
                <MudTooltip Text="Move cue up">
                    <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowUp" Color="Color.Primary"
                                   Size="Size.Small" OnClick="@CueMovedUp"/>
                </MudTooltip>
                <MudTooltip Text="Delete cue">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Primary"
                                   Size="Size.Small" OnClick="@CueDeleted"/>
                </MudTooltip>
                <MudTooltip Text="Move cue down">
                    <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowDown" Color="Color.Primary"
                                   Size="Size.Small" OnClick="@CueMovedDown"/>
                </MudTooltip>
            }
        </div>
    </div>
</MudCard>

@code
{
    [Parameter] public required Cue Cue { get; set; }

    [CascadingParameter]
    public required ShowService ShowService { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }


    [Parameter]
    public required bool IsSelected { get; set; }

    [Parameter]
    public required bool IsSelectedLive { get; set; }

    private async Task OnCardClick()
    {
        await OnClick.InvokeAsync();
    }

    public static string GetBadgeClass(CueBadgeColor color)
    {
        return color switch
               {
                   CueBadgeColor.Gray       => "cue-card-gray",
                   CueBadgeColor.White      => "cue-card-white",
                   CueBadgeColor.Red        => "cue-card-red",
                   CueBadgeColor.DarkRed    => "cue-card-dark-red",
                   CueBadgeColor.Green      => "cue-card-green",
                   CueBadgeColor.DarkGreen  => "cue-card-dark-green",
                   CueBadgeColor.Blue       => "cue-card-blue",
                   CueBadgeColor.DarkBlue   => "cue-card-dark-blue",
                   CueBadgeColor.Orange     => "cue-card-orange",
                   CueBadgeColor.DarkOrange => "cue-card-dark-orange",
                   CueBadgeColor.Purple     => "cue-card-purple",
                   CueBadgeColor.DarkPurple => "cue-card-dark-purple",
                   CueBadgeColor.Yellow     => "cue-card-yellow",
                   CueBadgeColor.DarkYellow => "cue-card-dark-yellow",
                   _                        => "cue-card-gray",
               };
    }

    public static string GetSizeClass(CueSize size)
    {
        return size switch
        {
            CueSize.Small      => "cue-card-small",
            CueSize.Medium     => "cue-card-medium",
            CueSize.Large      => "cue-card-large",
            CueSize.ExtraLarge => "cue-card-extra-large",
            _                  => "cue-card-medium",
        };
    }

    public string GetCardClass()
    {
        string colorClass;
        if (IsSelectedLive) colorClass  = "cue-card-green";
        else if (IsSelected) colorClass = "cue-card-light-gray";
        else colorClass                 = "cue-card-gray";

        string sizeClass = GetSizeClass(Cue.Size);

        return $"{colorClass} {sizeClass}";
    }

    private void CueNameChanged(string newName)
    {
        if (newName.Length == 0)
        {
            _ = Dialogs.Show("Invalid cue name", "Cue name cannot be empty.");
            return;
        }
        if (Auth.ApiKey is { } key)
        {
            Task.Run(async () =>
            {
                var res = await ShowService.SendEditModeAction(key, EditModeMethod.Update, Cue);
                res.IfError(e => Dialogs.Show("Error changing cue name", e));
            });
        }
    }
    
    private void CueDeleted()
    {
        if (Auth.ApiKey is { } key)
        {
            Task.Run(async () =>
            {
                var res = await ShowService.SendEditModeAction(key, EditModeMethod.Delete, Cue);
                res.IfError(e => Dialogs.Show("Error deleting cue", e));
            });
        }
    }
    
    private void CueMovedUp()
    {
        if (Auth.ApiKey is { } key)
        {
            Task.Run(async () =>
            {
                var res = await ShowService.SendEditModeAction(key, EditModeMethod.Move, Cue, new EditParameters
                {
                    Direction = -1,
                });
                res.IfError(e => Dialogs.Show("Error", "Failed to move cue: " + e));
                if (res.IsSuccess) ShowService.CurrentCuePosition += -1;
            });
        }
    }
    
    private void CueMovedDown()
    {
        if (Auth.ApiKey is { } key)
        {
            Task.Run(async () =>
            {
                var res = await ShowService.SendEditModeAction(key, EditModeMethod.Move, Cue, new EditParameters
                {
                    Direction = 1,
                });
                res.IfError(e => Dialogs.Show("Error", "Failed to move cue: " + e));
                if (res.IsSuccess) ShowService.CurrentCuePosition += 1;
            });
        }
    }

    private void OnCueDurationChanged(Cue cue, int? duration)
    {
        if (Auth.ApiKey is { } key)
        {
            Task.Run(async () =>
                     {
                         cue.DurationMins = duration;
                         var res = await ShowService.SendEditModeAction(key, EditModeMethod.Update, Cue);
                         res.IfError(e => Dialogs.Show("Error", "Failed to change cue duration: " + e));
                     });
        }
    }
}