@inject AuthService         Auth
@inject SimpleDialogService Dialogs
@implements IDisposable
<MudPaper MaxHeight="100%" Style="display: flex; flex-direction: column; gap: 1rem;">
    @if (ShowService is
    {
        TasksForCurrentCue: { } tasks,
    })
    {
        _currentCue   = ShowService.CurrentCue;
        _currentTasks = ShowService.IsEditMode ? ShowService.Tasks.Where(t => t.CueId == _currentCue?.Id).ToList() : tasks.ToList();

        if (_currentCue is not null)
        {
            <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center" Spacing="2" Wrap="Wrap.Wrap">
                <MudText Typo="Typo.h1" Align="Align.Center">Current Cue - @_currentCue.Name </MudText>
                @if (ShowService.IsEditMode)
                {
                    <MudSelect T="CueBadgeColor" @bind-Value="SelectedBadgeColor" Label="Badge color"
                               Disabled="!ShowService.IsEditMode"
                               OpenChanged="b => {_isColorSelectOpen = b; StateHasChanged();}"
                               Style="@ColorSelectStyle">
                        <div class="color-grid">
                            @foreach (CueBadgeColor color in Enum.GetValues<CueBadgeColor>())
                            {
                                <MudSelectItem Value="@color" Class="color-item">
                                    <span class="@CueCard.GetBadgeClass(color)"
                                          style="padding: 2px; border-radius: 2px;">@color</span>
                                </MudSelectItem>
                            }
                        </div>
                    </MudSelect>
                    <MudSelect T="CueSize" @bind-Value="SelectedSize" Label="Size"
                               Disabled="!ShowService.IsEditMode">
                        @foreach (CueSize size in Enum.GetValues<CueSize>())
                        {
                            <MudSelectItem Value="@size" Class="color-item">
                                <span style="padding: 2px; border-radius: 2px;">@size</span>
                            </MudSelectItem>
                        }
                    </MudSelect>
                    <MudTooltip Text="New task">
                        <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Primary"
                                       OnClick="@CreateNewTaskButtonPressed"
                                       Size="Size.Medium"/>
                    </MudTooltip>
                    <MudTooltip Text="Delete all tasks">
                        <MudIconButton Icon="@Icons.Material.Filled.DeleteForever" Color="Color.Primary"
                                       OnClick="@DeleteAllTasksButtonPressed"
                                       Size="Size.Medium"/>
                    </MudTooltip>
                }
                @if (HasCutPermissions)
                {
                    <MudButton Variant="@(_currentCue.Cut ? Variant.Filled : Variant.Outlined)"
                               OnClick="@OnCueCutPressed"
                               Color="Color.Primary">Cut
                    </MudButton>
                }
            </MudStack>

            @if (!ShowService.IsEditMode)
            {
                <div class="d-flex flex-grow-1 flex-wrap justify-center align-center px-8 pb-8 pt-2">
                    <MudCheckBox Color="Color.Primary" Label="All" Dense="true" T="bool?"
                                 Value="@AllRolesSelected" ValueChanged="OnAllRolesChanged"></MudCheckBox>
                    @foreach (Role role in Roles)
                    {
                        <MudCheckBox Color="Color.Primary" Label="@role.Name" T="bool" Dense="true"
                                     @bind-Value="_roleFilters[role.Id]"/>
                    }
                </div>
            }

            <MudCard Style="flex-grow: 1; overflow-y: auto; gap: 8px;">
                @if (_currentTasks.Count == 0)
                {
                    <MudText Class="p-4" Align="Align.Center">No tasks for this cue</MudText>
                }
                @foreach (CueTask cueTask in _currentTasks)
                    if (IsTaskVisible(cueTask))
                    {
                        <MudPaper Outlined="true" Elevation="0">
                            <MudStack Row="true" AlignItems="AlignItems.Center">
                                @if (!ShowService.IsEditMode)
                                {
                                    <MudIcon Icon="@CueTask.CueTaskIconToString(cueTask.Icon)" Color="Color.Primary"
                                             Size="Size.Large" Style="margin-left: 16px;"/>
                                }
                                <div class="flex-grow-1 p-2" style="white-space: pre-wrap;">
                                    @if (!ShowService.IsEditMode)
                                    {
                                        Role? role = null;
                                        if (cueTask.RoleId.HasValue)
                                            role = Roles.FirstOrDefault(r => r.Id == cueTask?.RoleId.Value);
                                        string roleName = role?.Name ?? "Unassigned";
                                        <MudText Typo="Typo.h3" Inline="true">@roleName</MudText>
                                    }
                                    else
                                    {
                                        <MudStack Row="true" Justify="Justify.SpaceBetween"
                                                  AlignItems="AlignItems.Center">
                                            <MudSelect Value="@cueTask.RoleId" T="int?" Label="Role"
                                                       ValueChanged="i => TaskRoleChanged(cueTask, i)"
                                                       ToStringFunc="RoleIDToString"
                                                       Style="max-width: 250px;">
                                                <MudSelectItem T="int?" Value="null">Unassigned</MudSelectItem>
                                                @foreach (Role role in Roles)
                                                {
                                                    <MudSelectItem T="int?"
                                                                   Value="@role.Id">@role.Name</MudSelectItem>
                                                }
                                            </MudSelect>
                                            <MudStack Row="true" AlignItems="AlignItems.Center">
                                                <MudSelect Value="@cueTask.Icon" T="CueTaskIcon" Label="Icon"
                                                           ValueChanged="i => TaskIconChanged(cueTask, i)"
                                                           ToStringFunc="i => i.ToString()"
                                                           Style="max-width: 100px;">
                                                    @foreach ((CueTaskIcon icon, string name) in new[]
                                                    {
                                                        (CueTaskIcon.Task, "Task"),
                                                        (CueTaskIcon.Note, "Note"),
                                                        (CueTaskIcon.Warning, "Warning"),
                                                    })
                                                    {
                                                        <MudSelectItem T="CueTaskIcon" Value="@icon">
                                                            <MudIcon Icon="@CueTask.CueTaskIconToString(icon)"
                                                                     Color="Color.Primary"/>
                                                            @name
                                                        </MudSelectItem>
                                                    }
                                                </MudSelect>
                                                <MudTooltip Text="Delete task">
                                                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                                                   OnClick="@(() => { DeleteCueTask(cueTask); })"
                                                                   Color="Color.Primary" Size="Size.Medium"/>
                                                </MudTooltip>
                                            </MudStack>
                                        </MudStack>
                                    }
                                    <EditableText Value="@cueTask.Tasks" Label=""
                                                  IsEditMode="@ShowService.IsEditMode"
                                                  OnValueChanged="s => { CueTaskChanged(s, cueTask); }"
                                                  MaxLines="20" TopMargin="true"></EditableText>
                                </div>
                            </MudStack>
                        </MudPaper>
                    }
            </MudCard>
        }
        else
        {
            <MudText Typo="Typo.h1">Current Cue</MudText>
            <MudText>No cue selected</MudText>
        }
    }
    else
    {
        <MudText Typo="Typo.h1">Current Cue</MudText>
        <MudText>No cue selected</MudText>
    }
</MudPaper>
<style>
    .color-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        padding: 8px;
    }

    .color-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        min-width: 100px;
    }
</style>

@code
{
    [CascadingParameter]
    public ShowService? ShowService { get; set; }

    [CascadingParameter]
    public required UserProvider UserProvider { get; set; }

    //              RoleID, IsChecked
    private Dictionary<int, bool> _roleFilters = new();

    private Cue?           _currentCue;
    private List<CueTask>? _currentTasks;
    private Action?        _showServiceStateChangedHandler;

    private bool? AllRolesSelected => All();

    private Role[] Roles => ShowService?.Roles ?? [];

    private bool   _isColorSelectOpen;
    private string ColorSelectStyle => !_isColorSelectOpen ? "overflow: clip; width: 120px; transition-property: width; transition-duration: 100ms; transition-timing-function: ease-in-out;" : "overflow: clip; width: 400px; transition-property: width; transition-duration: 100ms; transition-timing-function: ease-in-out;";


    public bool HasEditPermissions
    {
        get
        {
            if (!Auth.PermissionsCache.TryGetValue("EditShow", out int _)) return false;
            return UserProvider.CurrentUser?.HasPermission(Auth.PermissionsCache["EditShow"]) ?? false;
        }
    }

    public bool HasControlPermissions
    {
        get
        {
            if (!Auth.PermissionsCache.TryGetValue("ControlShow", out int _)) return false;
            return UserProvider.CurrentUser?.HasPermission(Auth.PermissionsCache["ControlShow"]) ?? false;
        }
    }

    public bool HasCutPermissions => HasEditPermissions || HasControlPermissions;

    private bool? All()
    {
        if (_roleFilters.Count > 0 && _roleFilters.Values.All(isChecked => isChecked)) return true;
        if (_roleFilters.Count > 0 && _roleFilters.Values.All(isChecked => !isChecked)) return false;
        return null;
    }

    private async Task CreateNewTaskButtonPressed()
    {
        if (Auth.ApiKey is { } key)
        {
            CueTask newTask = new()
            {
                CueId = _currentCue!.Id,
                Tasks = "New task",
            };
            _currentTasks?.Add(newTask);
            await ShowService!.SendEditModeAction(key, EditModeMethod.Create, newTask);
        }
    }

    protected override void OnInitialized()
    {
        _showServiceStateChangedHandler =  OnShowServiceStateChanged;
        ShowService?.OnStateChanged     += _showServiceStateChangedHandler;
    }

    protected override void OnParametersSet()
    {
        if (ShowService?.Roles is { } roles)
        {
            _roleFilters = roles.ToDictionary(
                role => role.Id,
                role =>
                {
                    bool hasExistingValue = _roleFilters.TryGetValue(role.Id, out bool isChecked);
                    if (!hasExistingValue) return true; // if there is no existing value for this role, default to checked (visible)
                    return hasExistingValue && isChecked;
                });
        }
    }

    private void OnShowServiceStateChanged()
    {
        _ = InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        if (_showServiceStateChangedHandler is not null)
        {
            ShowService?.OnStateChanged -= _showServiceStateChangedHandler;
        }
    }

    private Task OnAllRolesChanged(bool? value)
    {
        if (ShowService?.Roles is { } roles)
        {
            foreach (Role role in roles)
            {
                _roleFilters[role.Id] = value ?? true;
            }
        }

        return Task.CompletedTask;
    }

    private void CueTaskChanged(string newTask, CueTask cueTask)
    {
        if (newTask.Length == 0)
        {
            _ = Dialogs.Show("Invalid task", "Task cannot be empty.");
            return;
        }
        if (Auth.ApiKey is { } key)
        {
            cueTask.Tasks = newTask;
            ShowService?.SendEditModeAction(key, EditModeMethod.Update, cueTask);
        }
    }

    private void DeleteCueTask(CueTask cueTask)
    {
        if (Auth.ApiKey is { } key)
        {
            ShowService?.SendEditModeAction(key, EditModeMethod.Delete, cueTask);
        }
    }


    private async Task DeleteAllTasksButtonPressed()
    {
        bool? result = await DialogService.ShowMessageBoxAsync(
                           "Warning",
                           "Deleting all tasks can not be undone!",
                           "Delete!", cancelText: "Cancel");

        if ((result == null ? "Canceled" : "Deleted!") != "Deleted!") return;


        if (ShowService!.CurrentlyViewingShow is { Id: { } showID } && Auth.ApiKey is { } key && _currentTasks?[0] is { } firstTask)
        {
            // Need to pass a task to tell it in which show and cue
            (await ShowService.SendEditModeAction(key, EditModeMethod.DeleteAll, firstTask)).IfError(e => Dialogs.Show("Error deleting tasks", e));
        }
    }

    private async Task CueCardColorChanged(Cue cue, CueBadgeColor newColor)
    {
        if (Auth.ApiKey is { } key)
        {
            cue.BadgeColor = newColor;
            StateHasChanged();
            (await ShowService!.SendEditModeAction(key, EditModeMethod.Update, cue)).IfError(e => Dialogs.Show("Error changing cue color", e));
        }
    }

    private async Task CueSizeChanged(Cue cue, CueSize newSize)
    {
        if (Auth.ApiKey is { } key)
        {
            cue.Size = newSize;
            StateHasChanged();
            (await ShowService!.SendEditModeAction(key, EditModeMethod.Update, cue)).IfError(e => Dialogs.Show("Error changing cue size", e));
        }
    }

    // Wrapper property used for two-way binding in the MudSelect. When set it updates the current cue and persists the change.
    private CueBadgeColor SelectedBadgeColor
    {
        get => _currentCue?.BadgeColor ?? CueBadgeColor.Gray;
        set
        {
            if (_currentCue is null) return;
            if (_currentCue.BadgeColor == value) return;

            // update model and persist asynchronously (fire-and-forget to avoid blocking setter)
            _currentCue.BadgeColor = value;
            _                      = CueCardColorChanged(_currentCue, value);
        }
    }

    private CueSize SelectedSize
    {
        get => _currentCue?.Size ?? CueSize.Medium;
        set
        {
            if (_currentCue is null) return;
            if (_currentCue.Size == value) return;

            // update model and persist asynchronously (fire-and-forget to avoid blocking setter)
            _currentCue.Size = value;
            _                = CueSizeChanged(_currentCue, value);
        }
    }

    private string? RoleIDToString(int? arg)
    {
        if (arg.HasValue)
            return Roles.FirstOrDefault(r => r.Id == arg.Value)?.Name ?? "Unknown role";
        return "Unassigned";
    }

    private async Task TaskRoleChanged(CueTask task, int? newRoleID)
    {
        if (Auth.ApiKey is { } key)
        {
            task.RoleId = newRoleID;
            StateHasChanged();
            (await ShowService!.SendEditModeAction(key, EditModeMethod.Update, task)).IfError(e => Dialogs.Show("Error changing task role", e));
        }
    }

    private async Task TaskIconChanged(CueTask task, CueTaskIcon newIcon)
    {
        if (Auth.ApiKey is { } key)
        {
            task.Icon = newIcon;
            StateHasChanged();
            (await ShowService!.SendEditModeAction(key, EditModeMethod.Update, task)).IfError(e => Dialogs.Show("Error changing task icon", e));
        }
    }

    private bool IsTaskVisible(CueTask cueTask) => cueTask.RoleId == null || (_roleFilters.TryGetValue(cueTask.RoleId.Value, out bool isChecked) && isChecked) || AllRolesSelected == true || ShowService.IsEditMode;

    private async void OnCueCutPressed()
    {
        if (Auth.ApiKey is { } key)
        {
            _currentCue!.Cut = !_currentCue.Cut;
            StateHasChanged();
            (await ShowService!.SendEditModeAction(key, EditModeMethod.Update, _currentCue)).IfError(e => Dialogs.Show("Error changing cue cut", e));
        }
    }
}