@inject AuthService Auth
@inject SimpleDialogService Dialogs
@implements IAsyncDisposable

<GridChild ColumnStart="3" ColumnEnd="4" RowStart="2" RowEnd="3">
    <MudText Typo="Typo.h1">LiveShow Info</MudText>
    <div style="display:flex; align-items:center; gap:8px;">
        @if (HasControlPermissions)
        {
            if (IsLiveMode)
            {
                <MudButton Color="Color.Primary" Variant="Variant.Outlined" OnClick="@OnStopShow">Stop</MudButton>
            }
            else
            {
                <MudButton Color="Color.Primary" Variant="Variant.Outlined" OnClick="@OnStartShow">Start</MudButton>
            }
        }
        <MudSelect T="Show?" Style="flex:1;" ToStringFunc="ShowToStringFunc" @bind-Value="@SelectedShowBound">
            <MudSelectItem Value="@null" T="Show?"/>
            @foreach (Show showSelectOption in ShowService.Shows)
            {
                <MudSelectItem @key="showSelectOption.Id" Value="@showSelectOption">
                    @ShowToStringFunc(showSelectOption)
                    @if (IsShowToday(showSelectOption, true))
                    {
                        <MudChip T="string" Size="Size.Small" Color="Color.Success" Variant="Variant.Filled"
                                 Style="margin-left:4px;">Today
                        </MudChip>
                    }
                </MudSelectItem>
            }
        </MudSelect>
        @if (HasEditPermissions)
        {
            <MudTooltip Text="Create new">
                <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.Add" OnClick="@NewShowButtonPressed"/>
            </MudTooltip>
        }
    </div>
    @if (ShowService.CurrentlyViewingShow is { } show)
    {
        <EditableText Label="LiveShow Name:" @bind-Value="show.Name" IsEditMode="IsEditMode"
                      OnValueChanged="ShowNameChanged"/>
        <MudText Typo="Typo.subtitle2">LiveShow ID: @show.Id</MudText>

        <MudText Typo="Typo.body1">
            <br/>
            @show.Description
            <br/>
            @show.Notes
            <br/>
        </MudText>

        <MudDivider/>
        <table class="show-info-table">
            @if (!IsEditMode)
            {
                <tr>
                    <td>Date</td>
                    <td>@show.Start.ToLongDateString()</td>
                </tr>
                <tr>
                    <td>Start</td>
                    <td>@show.Start.ToLongTimeString()</td>
                </tr>
                <tr>
                    <td>End</td>
                    <td>@show.End.ToLongTimeString()</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>Date</td>
                    <td>
                        <MudDatePicker Date="@_selectedDate" DateChanged="OnDateChanged"/>
                    </td>
                </tr>
                <tr>
                    <td>Start</td>
                    <td>
                        <MudTimePicker Time="@_selectedStart" TimeChanged="OnStartTimeChanged"/>
                    </td>
                </tr>
                <tr>
                    <td>End</td>
                    <td>
                        <MudTimePicker Time="@_selectedEnd" TimeChanged="OnEndTimeChanged"/>
                    </td>
                </tr>
            }
            <tr>
                <td>Active</td>
                <td>@(ShowService.CurrentCuePosition == null ? "False" : "True")</td>
            </tr>
            <tr>
                <td>Number of Cues</td>
                <td>@ShowService.Cues.Length</td>
            </tr>
        </table>
    }
</GridChild>

<style>
    .show-info-table {
        width: 100%;
    }

    .show-info-table td:first-child {
        font-weight: 700;
    }

    .show-info-table td:last-child {
        text-align: right;
    }
</style>

@code
{
    private bool IsLiveMode => ShowService.CurrentCuePosition != null;
    public bool HasControlPermissions
    {
        get
        {
            if (!Auth.PermissionsCache.TryGetValue("ControlShow", out int _)) return false;
            return UserProvider.CurrentUser?.HasPermission(Auth.PermissionsCache["ControlShow"]) ?? false;
        }
    }

    public bool HasEditPermissions
    {
        get
        {
            if (!Auth.PermissionsCache.TryGetValue("EditShow", out int _)) return false;
            return UserProvider.CurrentUser?.HasPermission(Auth.PermissionsCache["EditShow"]) ?? false;
        }
    }
    [CascadingParameter]
    public ShowService? ShowService { get; set; }

    [CascadingParameter(Name = "IsEditMode")]
    public bool IsEditMode { get; set; }


    [CascadingParameter]
    public required UserProvider UserProvider { get; set; }

    public Show? SelectedShowBound
    {
        get => ShowService.CurrentlyViewingShow;
        set
        {
            ShowService.CurrentlyViewingShow = value;
            SelectedShowChanged(value);
        }
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ShowService?.OnStateChanged += ShowInfoChanged;
        }

        return Task.CompletedTask;
    }

    private DateTime? _selectedDate;
    private TimeSpan? _selectedStart;
    private TimeSpan? _selectedEnd;
    private bool      _updateLock;

    private void ShowInfoChanged()
    {
        Show? show = ShowService.CurrentlyViewingShow;
        _updateLock                      = true;
        ShowService.CurrentlyViewingShow = show;
        _selectedDate                    = show?.Start.Date;
        _selectedStart                   = show?.Start.TimeOfDay;
        _selectedEnd                     = show?.End.TimeOfDay;
        _updateLock                      = false;
    }

    private async Task OnDateChanged(DateTime? newDate)
    {
        if (_updateLock) return;
        _selectedDate = newDate;
        await ShowDateOrTimeChanged();
    }

    private async Task OnStartTimeChanged(TimeSpan? newTime)
    {
        if (_updateLock) return;
        _selectedStart = newTime;
        await ShowDateOrTimeChanged();
    }

    private async Task OnEndTimeChanged(TimeSpan? newTime)
    {
        if (_updateLock) return;
        _selectedEnd = newTime;
        await ShowDateOrTimeChanged();
    }

    private async Task ShowDateOrTimeChanged()
    {
        if (_updateLock) return;
        if (ShowService.CurrentlyViewingShow is { } show && Auth.SessionKey is { } key)
        {
            _updateLock = true;
            DateTime newStart = _selectedDate?.Add(_selectedStart ?? TimeSpan.Zero) ?? show.Start;
            DateTime newEnd = _selectedDate?.Add(_selectedEnd ?? TimeSpan.Zero) ?? show.End;
            show.Start = newStart;
            show.End = newEnd;
            await ShowService.SendEditModeAction(key, EditModeMethod.Update, show);
            _updateLock = false;
        }
    }

    private async Task ShowNameChanged(string newName)
    {
        if (ShowService.CurrentlyViewingShow is { } show && Auth.SessionKey is { } key)
        {
            show.Name = newName;
            await ShowService.SendEditModeAction(key, EditModeMethod.Update, show);
        }
    }

    ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (ShowService != null)
        {
            ShowService.OnStateChanged -= ShowInfoChanged;
        }

        return ValueTask.CompletedTask;
    }

    private async Task NewShowButtonPressed()
    {
        Show newShow = new()
        {
            Name  = "New Show",
            Start = DateTime.Now,
            End   = DateTime.Now.AddHours(1),
        };
        if (Auth.SessionKey is { } key)
        {
            var r = await ShowService.SendEditModeAction(key, EditModeMethod.Create, newShow);
            r.IfError(e => Dialogs.ShowError("Failed to create new show", e));
            if (r.Value is not { } returnedShow) return;
            ShowService.Shows = ShowService.Shows.Append(returnedShow).ToArray();
        }
    }

    private string? ShowToStringFunc(Show? show) => show?.Name ?? "No show";

    private bool IsShowToday(Show show, bool falseIfSelected)
    {
        if (falseIfSelected && show.Id == ShowService.CurrentlyViewingShow?.Id) return false;
        DateTime today = DateTime.Today;
        return show.Start.Date == today || show.End.Date == today;
    }

    private async Task SelectedShowChanged(Show? newShow)
    {
        ShowService.CurrentlyViewingShow = newShow;
        if (Auth.SessionKey is { } key)
        {
            (await ShowService.GetShowsAndRoles(key)).IfError(e => Dialogs.ShowError("Error loading show", e));
            (await ShowService.GetLiveInfoAsync(key)).IfError(e => Dialogs.ShowError("Error loading show", e));
        }

        ShowService.UpdateState();
    }


    private async Task OnStartShow()
    {
        if (HasControlPermissions && Auth.SessionKey is { } key)
        {
            if (ShowService.CurrentlyViewingShow == null)
            {
                _ = Dialogs.ShowError("Error starting show", "Please select a show to start.");
                return;
            }

            (await ShowService.SelectShowAsync(key, ShowService.CurrentlyViewingShow.Id)).IfError(e => Dialogs.ShowError("Error starting show", e));
            (await ShowService.StartShowAsync(key)).IfError(e => Dialogs.ShowError("Error starting show",                                       e));
        }
    }

    private async Task OnStopShow()
    {
        if (HasControlPermissions && Auth.SessionKey is { } key)
        {
            if (ShowService.CurrentlyViewingShow == null)
            {
                _ = Dialogs.ShowError("Error stopping show", "Please select a show to stop.");
                return;
            }

            (await ShowService.StopShowAsync(key)).IfError(e => Dialogs.ShowError("Error stopping show",         e));
            (await ShowService.SelectShowAsync(key, null)).IfError(e => Dialogs.ShowError("Error stopping show", e));
        }
    }
}
